<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Overview of all students</title>
    <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<body>
		<div align="center">
			<h1>Contact List</h1>
			<h3><a href="/add">New Contact</a></h3>
			<table border="1">
			<thead>
			<tr>
				<th>No</th>
				<th>Name</th>
				<th>E-mail</th>
				<th>Address</th>
				<th>Telephone</th>
				<th>Action</th>
			</tr>
			</thead>
		
			<tbody>
				<tr th:each="contact: ${listContact}">
					<td th:text="${(contact.id)}"></td>
					<td th:text="${(contact.name)}"></td>
					<td th:text="${(contact.email)}"></td>
					<td th:text="${(contact.address)}"></td>
					<td th:text="${(contact.telephone)}"></td>
					<td>
						<a th:href="@{/add(id=${contact.id})}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{/delete(id=${contact.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
			</table>
		</div>

	</body>
</html>